
.select_city{
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;

  display: flex;
  width: 150px;
  margin: 5px 0px;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 15px;
  line-height: 15px;
  color: white;
  background: #8C9ACC;
  transition: 0.3s;
}