@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 3.0em;
        margin: 5px;
    }

}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 3.0em;
        margin: 5px;
    }
}

@media only screen and (max-width: 810px) {
    p {
        padding: 0;
    }
}

@media only screen and (max-width: 480px) {
    ul li {
        width: 120px;
    }

    h1 {
        font-size: 2.0em;
    }

    .container {
        padding: 5px;
    }
}


@media only screen and (max-width: 360px) {
    h1 {
        font-size: 1.6em;
        margin: 6px;
    }
}


@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1.6em;
        margin: 6px;
    }
}


